$main-colour: rgb(255, 120, 160);
$secondary-colour: rgb(255, 120, 70);
$text-background: rgb(241, 241, 241);
$general-text-colour: rgb(20, 20, 20);

$font-size-normal: 12pt;
$font-size-large: 32pt;
$font-size-small: 8pt;

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color: $general-text-colour;
    font-size: $font-size-large;
    text-align: center;
    background-image: url(./my-images/1145091.png);
}

h2 {
    border-radius: 10px;
    font-size: 16pt;
    padding: 8px;
    color: rgb(255, 255, 255);
    background-color: $main-colour;
}

span {
    color: $main-colour;
}

a:visited {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

#main-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;

    max-height: 70%;

    p {
        padding: 20px;

        border-radius: 20px;
        background-color: $text-background;

        font-size: $font-size-normal;
    }
}

#sfl-div {
    display: none;
    width: 80%;
    height: fit-content;
    background-color: rgba(255, 120, 161, 0.25);
    border-radius: 6px;
    padding: 15px;
    text-align: center;
}

// -- dropdown css --
#dropdown-menu {
    display: none;
    position: absolute;
    background-color: $main-colour;
    z-index: 1;
    border-radius: 5px;

    a {
        color: black;
        padding: 15px;
        text-decoration: none;
        display: block;
    }

    a:hover {
        background-color: $main-colour;
        color: rgb(255, 255, 255);
    }
}

// -- dropdown css --

// -- forms --
#form-div {
    text-align: center;
    min-height: 200px;
}

.forms {
    min-height: 200px;
    padding: 15px;
    background-color: $text-background;
    border-radius: 8px;
}

// -- forms --

.comment {
    background-color: $text-background;
    padding: 10px;
    border-radius: 5px;
}


#poster-container {
    display: flex;
    top: 150px;
}

#peace-sign-luffy {
    position: fixed;
    width: 300px;

    bottom: -100px;
    left: 0px;
}

#favourites-table {
    width: 50%;

    th,
    td {
        border: 2px solid $main-colour;
        text-align: center;
        margin: 100px;
    }

    border: 2px dashed $secondary-colour;

    th {
        color: $main-colour;
    }
}

#MAL-image {
    display: flex;
    justify-content: center;
}

#testimonial {
    color: aliceblue;
    text-shadow: 0px 2px 4px rgb(0, 0, 0);
    width: 500px;
    background-image: url(./my-images/desktop-wallpaper-scenery-aesthetic-anime-landscape-aesthetic.jpg);
}

.anime_poster {
    margin: 10px;
    width: 250px;
    border-radius: 30px;
    border: 4px solid $main-colour;
}

.navigation_tab {
    position: relative;
    padding-right: 150px;
}

.secondary_div {
    position: relative;
    margin: 25px;
    max-width: 100%;
}

.center {
    display: flex;
    justify-content: center;
}